{{define "home"}}
    {{template "header" .}}
    <div class="body">
        {{if .User.Email}}
            <form method="get" action="/addlink">
                <input type="text" name="link" placeholder="Add a new link" required>
                <button type="submit" name="Submit">Save</button>
            </form>
            {{if .Links}}
                <table>
                    {{range .Links}}
                        <tr>
                            <td><a href="{{.LinkUrl}}" target="_blank">{{.LinkUrl}}</a></td>
                            <td>{{.CreateDate}}</td>
                            <td>
                                <a href="/deletelink?link={{.}}">Delete
                                    {{/*<span class="glyphicon glyphicon-trash"></span>*/}}
                                </a>
                            </td>
                        </tr>
                    {{end}}
                </table>
            {{else}}
                <p>You haven't saved any links yet.</p>
            {{end}}
        {{else}}
            <img src="/resources/lttp-logo4.png">
            <p>lttp is an app that lets you save things you find interesting.</p>
            <p>Login or create and account to start.</p>
            <form method="get" action="/login">
                <input type="submit" value="Login">
            </form>
            <form method="get" action="/create-account">
                <input type="submit" value="Create Account">
            </form>
        {{end}}
    </div>
    {{template "footer" .}}
{{end}}