{{define "login"}}
    {{template "header" .}}
    <div class="body middle">
        <h3>Login</h3>
        {{if .}}
            <div>
                <p>{{.}}</p>
            </div>
        {{end}}
        <div class="body middle">
            <form method="post">
                Email<input type="text" name="email" required><br>
                Password<input type="password" name="password" required><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    {{template "footer" .}}
{{end}}